body {
  background-color: #000;
  font-family: "Caveat", cursive;
  --scrollbar-width: 10px;
  --scrollbar-height: 10px;
  --scrollbar-border-radius: 150px;
  --scrollbar-border-thickness: 0px;
  --scrollbar-thumb-color: #d3d3d3;
  --scrollbar-track-color: #f2f7f8;
}

body::-webkit-scrollbar {
  width: var(--scrollbar-width, 20px);
  height: var(--scrollbar-height, 20px);
}

body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color, #3b82f6);
  border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255));
  border-radius: var(--scrollbar-border-radius, 4px);
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color, #a1a1aa);
}

body::-webkit-scrollbar-corner {
  background: var(--scrollbar-corner-color, #ffffff);
  border: var(--scrollbar-border-thickness, 3px) solid var(--scrollbar-border-color, rgb(255, 255, 255));
  border-radius: var(--scrollbar-border-radius, 4px);
}

body::-webkit-scrollbar-button:vertical:start:increment,
#preview::-webkit-scrollbar-button:vertical:end:decrement,
#preview::-webkit-scrollbar-button:horizontal:start:increment,
#preview::-webkit-scrollbar-button:horizontal:end:decrement {
  display: var(--show-double-buttons, none);
}

.img-kopi {
  width: 500px;
  height: 500px;
}

.row h2,
.menu h2 {
  color: white;
}

.row span,
.menu span {
  color: #e7962d;
}

.row p,
.menu p {
  color: azure;
}

.img-fluid {
  width: 200px;
  height: 200px;
  transition: transform 0.3s ease;
  margin: 1rem;
}

.img-fluid:hover {
  transform: scale(1.2);
  cursor: pointer;
}
